<div class="container-fluid">
        <h3>News</h3>
    <div id="footer" class="container">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-inner navbar-content-center">
                <div class="btn-group btn-group-justified">
                    <a href="#/news" class="btn btn-inverse" ><i class="fa fa-bell fa-2x fa-inverse"></i></a>
                    <a href="#/settings" class="btn btn-inverse" ><i class="fa fa-cogs fa-2x fa-inverse"></i> </a>
                </div>
        </nav>
    </div>
</div>
